.col {
    width: 33.33%;
    float: left;
    letter-spacing: -2px;
    overflow: hidden;
    font-size: 28px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
.col-1{}
.col-2{left:33.33%;}
.col-3{left:66.66%;}
.el {
    width: 100%;
}

html,body {
    position: fixed;
    width: 100%;
    height: 100%;
}